@use "../colors" as *;

// callouts
blockquote {
  padding: 0.5em 1em;
  border-left: 4px solid;
  background-color: $blue-100--light;
  border-color: $blue-500--light;
  .dark & {
    background-color: $blue-100--dark;
    border-color: $blue-500--dark;
  }
}

blockquote.warning {
  background-color: $red-100--light;
  border-color: $red-500--light;
  .dark & {
    background-color: $red-100--dark;
    border-color: $red-500--dark;
  }
}

blockquote.important {
  background-color: $amber-100--light;
  border-color: $amber-500--light;
  .dark & {
    background-color: $amber-100--dark;
    border-color: $amber-500--dark;
  }
}

blockquote.tip {
  background-color: $green-100--light;
  border-color: $green-500--light;
  .dark & {
    background-color: $green-100--dark;
    border-color: $green-500--dark;
  }
}
