// globals

$white: #fff;
$black: #000;

// light

$bg--light: #f9f9fa;

$amber--light: #b85504;
$amber-100--light: #fff4dc;
$amber-200--light: #fce1a9;
$amber-300--light: #fbb552;
$amber-400--light: #dd7805;
$amber-500--light: #b85504;
$amber-600--light: #a9470f;
$amber-700--light: #893607;
$amber-800--light: #421a02;

$red--light: #d52536;
$red-100--light: #fdeaea;
$red-200--light: #f6cfd0;
$red-300--light: #eea3a5;
$red-400--light: #e25d68;
$red-500--light: #d52536;
$red-600--light: #b72132;
$red-700--light: #8b1924;
$red-800--light: #350a10;

$violet--light: #7d2eff;
$violet-100--light: #f7ecff;
$violet-200--light: #e9d4ff;
$violet-300--light: #c9a6ff;
$violet-400--light: #9860ff;
$violet-500--light: #7d2eff;
$violet-600--light: #6d00eb;
$violet-700--light: #5700bb;
$violet-800--light: #220041;

$blue--light: #086dd7;
$blue-100--light: #e5f2fc;
$blue-200--light: #c0e0fa;
$blue-300--light: #8bc7f5;
$blue-400--light: #1c90ed;
$blue-500--light: #086dd7;
$blue-600--light: #0055bd;
$blue-700--light: #1144a6;
$blue-800--light: #00084d;

$green--light: #2e7f74;
$green-100--light: #e6f5f3;
$green-200--light: #c6eae1;
$green-300--light: #88d5c0;
$green-400--light: #3ba08d;
$green-500--light: #2e7f74;
$green-600--light: #1e6c5f;
$green-700--light: #185a51;
$green-800--light: #0c2c28;

$gray--light: #677285;
$gray-100--light: #efeff2;
$gray-200--light: #e1e2e6;
$gray-300--light: #c4c8d1;
$gray-400--light: #8993a5;
$gray-500--light: #677285;
$gray-600--light: #505968;
$gray-700--light: #393f49;
$gray-800--light: #17191e;

// dark

$bg--dark: #1c262d;

$amber--dark: #ed8d25;
$amber-100--dark: #753715;
$amber-200--dark: #944307;
$amber-300--dark: #af560a;
$amber-400--dark: #cd6a0a;
$amber-500--dark: #ed8d25;
$amber-600--dark: #f6a650;
$amber-700--dark: #f8b974;
$amber-800--dark: #fac892;

$red--dark: #dd4659;
$red-100--dark: #741624;
$red-200--dark: #951c2f;
$red-300--dark: #bc233c;
$red-400--dark: #d1334c;
$red-500--dark: #dd4659;
$red-600--dark: #e96c7c;
$red-700--dark: #ea8e9a;
$red-800--dark: #f0aab4;

$violet--dark: #a371fc;
$violet-100--dark: #491d7b;
$violet-200--dark: #5f25a0;
$violet-300--dark: #7835d3;
$violet-400--dark: #8a53ec;
$violet-500--dark: #a371fc;
$violet-600--dark: #b38bfc;
$violet-700--dark: #c5a6fd;
$violet-800--dark: #d4bdfe;

$blue--dark: #3391ee;
$blue-100--dark: #06326d;
$blue-200--dark: #08489b;
$blue-300--dark: #1760ca;
$blue-400--dark: #2673e3;
$blue-500--dark: #3391ee;
$blue-600--dark: #55a4f1;
$blue-700--dark: #7cb9f4;
$blue-800--dark: #98c8f6;

$green--dark: #2aa391;
$green-100--dark: #11423b;
$green-200--dark: #155048;
$green-300--dark: #176254;
$green-400--dark: #228375;
$green-500--dark: #2aa391;
$green-600--dark: #3cc1ad;
$green-700--dark: #7accc3;
$green-800--dark: #a5ddd6;

$gray--dark: #7794ab;
$gray-100--dark: #141b1f;
$gray-200--dark: #27343e;
$gray-300--dark: #364754;
$gray-400--dark: #465c6e;
$gray-500--dark: #7794ab;
$gray-600--dark: #94abbc;
$gray-700--dark: #adbecb;
$gray-800--dark: #c4d0da;
