@use "colors" as *;

:root {
  background-color: $gray-100--light;
  color: var(--text-primary);
  color-scheme: light;

  // light theme
  --text-primary: #{$black};
  --text-secondary: #{$gray-700--light};
  --bg: #{$bg--light};
  --primary: #{$blue-400--light};
  --secondary: #{$gray-400--light};
  --header: #{$blue-500--light};
  --paper: #{$white};
  --divider: hsla(0, 0%, 0%, 0.1);
}

// dark theme
.dark {
  background-color: $gray-100--dark;
  color-scheme: dark;
  --text-primary: #{$white};
  --text-secondary: #{$gray-700--dark};
  --bg: #{$bg--dark};
  --primary: #{$blue-600--dark};
  --secondary: #{$gray-600--dark};
  --header: #{$blue-200--dark};
  --paper: #{$gray-200--dark};
  --divider: hsla(0, 0%, 100%, 0.05);
}
