@use "../colors" as *;

@mixin card($width: 200px) {
  display: flex;
  text-align: left;
  width: $width;
  position: fixed;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: $white;
  * {
    color: $gray-700--light;
  }
  .dark & {
    background-color: $black;
    * {
      color: $white;
    }
  }
}
