// breakpoints
$screen-lg: 1440px;
$screen-md: 1240px;
$screen-sm: 1000px;
$screen-xs: 600px;

@mixin xl {
  @media (min-width: ($screen-lg + 1px)) {
    @content;
  }
}

@mixin lg {
  @media (min-width: $screen-md) and (max-width: $screen-lg) {
    @content;
  }
}

@mixin md {
  @media (min-width: $screen-sm) and (max-width: $screen-md) {
    @content;
  }
}

@mixin sm {
  @media (min-width: $screen-xs) and (max-width: $screen-sm) {
    @content;
  }
}

@mixin xs {
  @media (max-width: $screen-xs) {
    @content;
  }
}
