@use "../components/links";

footer {
  @include links.linklist;
  font-size: 14px;
  padding: 20px 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .footer-top {
    display: flex;
    > div {
      flex-grow: 1;
    }
  }
  .footer-legal {
    flex-basis: 100%;
    ul {
      display: flex;
      flex-direction: row-reverse;
      gap: 20px;
    }
  }

  .footer-bottom {
    border-top: 1px solid var(--divider);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .footer-social ul {
      display: flex;
    }
  }
}
