.home-grid {
  display: grid;
  gap: 20px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  .home-grid-item {
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    h2 {
      a {
        text-decoration: none;
      }
      margin: 0;
      text-align: center;
    }
  }
}
