<div class="footer-top">
  <div>
    <ul>
      <li>
        <span>
          <b
            ><a
              href="https://www.docker.com/products"
              target="_blank"
              rel="noopener"
              >Product offerings</a
            ></b
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/personal"
            target="_blank"
            rel="noopener"
            >Docker Personal</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/pro"
            target="_blank"
            rel="noopener"
            >Docker Pro</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/team"
            target="_blank"
            rel="noopener"
            >Docker Team</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/business"
            target="_blank"
            rel="noopener"
            >Docker Business</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products"
            target="_blank"
            rel="noopener"
            >Compare Subscriptions</a
          >
        </span>
      </li>
      <li>
        <span>
          <b
            ><a href="https://www.docker.com/" target="_blank" rel="noopener"
              >Features</a
            ></b
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/docker-desktop"
            target="_blank"
            rel="noopener"
            >Docker Desktop</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/docker-hub"
            target="_blank"
            rel="noopener"
            >Docker Hub</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/secure-software-supply-chain"
            target="_blank"
            rel="noopener"
            >Secure Software Supply Chain</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/container-runtime"
            target="_blank"
            rel="noopener"
            >Container Runtime</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/products/developer-tools"
            target="_blank"
            rel="noopener"
            >Developer Tools</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/partners"
            target="_blank"
            rel="noopener"
            >Trusted Content</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/roadmap"
            target="_blank"
            rel="noopener"
            >Docker Product Roadmap</a
          >
        </span>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <span>
          <b
            ><a
              href="https://www.docker.com/products/docker-desktop"
              target="_blank"
              rel="noopener"
              >Developers</a
            ></b
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/use-cases"
            target="_blank"
            rel="noopener"
            >Use Cases</a
          >
        </span>
      </li>
      <li>
        <span>
          <a href="/get-started/" target="_blank" rel="noopener">Get Started</a>
        </span>
      </li>
      <li>
        <span>
          <a href="https://www.docker.com/blog/" target="_blank" rel="noopener"
            >Blog</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/docker-community"
            target="_blank"
            rel="noopener"
            >Community</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/open-source"
            target="_blank"
            rel="noopener"
            >Open Source</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/community/get-involved/developer-preview"
            target="_blank"
            rel="noopener"
            >Preview Program</a
          >
        </span>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <span>
          <b
            ><a
              href="https://www.docker.com/products/docker-desktop"
              target="_blank"
              rel="noopener"
              >Pricing</a
            ></b
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/pricing/faq"
            target="_blank"
            rel="noopener"
            >FAQ</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/partners/programs"
            target="_blank"
            rel="noopener"
            >Docker Verified Publisher</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/partners"
            target="_blank"
            rel="noopener"
            >Partners</a
          >
        </span>
      </li>
    </ul>
  </div>
  <div>
    <ul>
      <li>
        <span>
          <b
            ><a
              href="https://www.docker.com/company"
              target="_blank"
              rel="noopener"
              >About Us</a
            ></b
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/what-container"
            target="_blank"
            rel="noopener"
            >What is a Container?</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/why-docker"
            target="_blank"
            rel="noopener"
            >Why Docker?</a
          >
        </span>
      </li>
      <li>
        <span>
          <a href="https://www.docker.com/events" target="_blank" rel="noopener"
            >Virtual Events</a
          >
        </span>
      </li>
      <li>
        <span>
          <a href="https://www.docker.com/swag" target="_blank" rel="noopener"
            >Swag Store
          </a>
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/company/newsroom"
            target="_blank"
            rel="noopener"
            >Newsroom</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/careers"
            target="_blank"
            rel="noopener"
            >Careers</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/company/contact"
            target="_blank"
            rel="noopener"
            >Contact Us</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/customers"
            target="_blank"
            rel="noopener"
            >Customers</a
          >
        </span>
      </li>
      <li>
        <span>
          <a
            href="https://www.docker.com/newsletter-subscription"
            target="_blank"
            rel="noopener"
            >Newsletter</a
          >
        </span>
      </li>
    </ul>
  </div>
</div>
<div class="footer-legal">
  <nav>
    <ul class="menu">
      <li>
        <span>
          <a
            href="https://www.docker.com/legal/docker-terms-service"
            target="_blank"
            rel="noopener"
            >Terms of Service</a
          >
        </span>
      </li>
      <li>
        <span>
          <a href="https://status.docker.com/" target="_blank" rel="noopener"
            >Status</a
          >
        </span>
      </li>
      <li>
        <a href="https://www.docker.com/legal" target="_blank" rel="noopener"
          >Legal</a
        >
      </li>
    </ul>
  </nav>
</div>
<div class="footer-bottom">
  <div class="footer-copyright">
    <p>
      Copyright &copy; 2013-{{ now.Format "2006" }} Docker Inc. All rights
      reserved.
    </p>
  </div>
  <nav class="footer-social">
    <ul>
      <li class="twitter">
        <span>
          <a href="https://twitter.com/docker">Twitter</a>
        </span>
      </li>
      <li class="youtube">
        <span>
          <a href="https://www.youtube.com/user/dockerrun">Youtube</a>
        </span>
      </li>
      <li class="github">
        <span>
          <a href="https://github.com/docker">GitHub</a>
        </span>
      </li>
      <li class="linkedin">
        <span>
          <a href="https://www.linkedin.com/company/docker">Linkedin</a>
        </span>
      </li>
      <li class="facebook">
        <span>
          <a href="https://www.facebook.com/docker.run">Facebook</a>
        </span>
      </li>
      <li class="reddit">
        <span>
          <a href="https://www.reddit.com/r/docker">Reddit</a>
        </span>
      </li>
    </ul>
  </nav>
</div>
