<aside class="main--right">
  <div class="pageinfo">
    <div class="details">
      <div class="subtitle">Page details</div>
      <p style="display: flex; align-items: center">
        <span class="material-symbols-rounded">schedule</span>
        <span>{{ .ReadingTime }} minute read</span>
      </p>
      {{ with .File }}
        <p>
          <span class="material-symbols-rounded">edit</span>
          <a href="https://github.com/docker/docs/edit/main/content/{{ .Path }}"
            >Edit this page</a
          >
        </p>
      {{ end }}
      <p>
        <span class="material-symbols-rounded">done</span>
        <a
          href="https://github.com/docker/docs/issues/new?body=File: [content/{{ .File.Path }}]({{ .Permalink }})"
          >Request changes</a
        >
      </p>
      {{ with .GetTerms "tags" }}
        <div class="subtitle">Tags</div>
        {{ range . }}
          <div class="tag">
            <span class="material-symbols-rounded">sell</span
            ><a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="toc-wrapper">
      <div class="subtitle">Table of contents</div>
      <div class="toc-tree">
        {{ .TableOfContents }}
      </div>
    </div>
  </div>
</aside>
<div class="main--right-fill"></div>
