{{ $ctx := . }}
<div class="main--left-fill"></div>
<nav class="main--left sidenav">
  <div class="subtitle">Navigation</div>
  <ul>
    {{ range where site.Home.Pages "Type" .Type }}
      {{ range .Pages }}
        {{ template "nodeWalk" (dict "item" . "ctx" $ctx) }}
      {{ end }}
    {{ end }}
  </ul>
</nav>

{{ define "nodeWalk" }}
  {{ $ctx := .ctx }}
  {{ $classList := slice }}
  {{ $isCurrent := eq .ctx.Permalink .item.Permalink }}
  {{ $isExpanded := or ($isCurrent) (.item.IsAncestor .ctx) }}
  {{ if $isExpanded }}
    {{ $classList = append "expanded" $classList }}
  {{ end }}
  {{ $classList = append .item.Kind $classList }}
  {{ $classes := delimit $classList " " }}
  <li class="{{ $classes }}">
    <span>
      {{ if .item.Pages }}
        <button class="btn-expander material-symbols-rounded">
          {{ cond $isExpanded "expand_more" "chevron_right" }}
        </button>
      {{ end }}
      <a
        {{ if $isCurrent }}
          class="active"
        {{ end }}
        href="{{ .item.Permalink }}"
        {{ with partial "utils/title.html" .item }}
        title="{{ . }}"
        >{{ . }}</a
        {{ end }}
      >
    </span>
    {{ with .item.Pages }}
      <ul>
        {{ range . }}
          {{ template "nodeWalk" (dict "item" . "ctx" $ctx) }}
        {{ end }}
      </ul>
    {{ end }}
  </li>
{{ end }}
