<nav id="sectiontree" class="w-[300px] flex flex-col md:text-lg md:w-full">
  {{ $ctx := . }}
  <ul class="py-2">
    {{ range site.Home.Sections }}
      {{ template "nodeWalk" (dict "item" . "ctx" $ctx) }}
    {{ end }}
  </ul>
  <hr />
  <ul class="mt-4 ml-4">
    {{ with (site.GetPage "/tags" ) }}
      <li class="flex items-center gap-1">
        <span
          class="text-lg text-gray-light dark:text-gray-dark material-symbols-rounded"
          >tag</span
        >
        <a
          class="text-gray-light dark:text-gray-dark hover:underline hover:text-black hover:dark:text-white"
          href="{{ .Permalink }}"
          >{{ .LinkTitle }}</a
        >
      </li>
    {{ end }}
  </ul>
</nav>

{{ define "nodeWalk" }}
  {{ $ctx := .ctx }}
  {{ $isCurrent := eq .ctx.Permalink .item.Permalink }}
  {{ $isExpanded := or ($isCurrent) (.item.IsAncestor .ctx) }}
  {{ $title := partial "utils/title.html" .item }}
  <li
    {{ with $isExpanded }}
      data-expanded="true"
    {{ end }}
    {{ if $isCurrent }}
      class="pl-3 -ml-[2px] border-l-4 border-blue-light dark:border-blue-dark
      bg-blue-light-200 dark:bg-blue-dark-300"
    {{ else }}
      class="pl-3 hover:bg-gray-light-200 hover:dark:bg-gray-dark-300"
    {{ end }}
  >
    <span class="flex items-center">
      {{ if .item.Pages }}
        <button
          class="sidebar-expander material-symbols-rounded -my-1 -ml-[3px] md:text-[28px]"
        >
          {{- cond $isExpanded "expand_more" "chevron_right" -}}
        </button>
      {{ end }}
      <a
        {{ if $isCurrent }}
          class="py-2 max-w-full w-full truncate font-medium"
          aria-current="page"
        {{ else }}
          class="py-2 max-w-full w-full truncate hover:font-medium"
        {{ end }}
        href="{{ .item.Permalink }}"
        title="{{ $title }}"
        >{{ $title }}</a
      >
    </span>
  </li>
  {{ with .item.Pages }}
    <ul
      {{ if not $isExpanded }}
        class="hidden ml-5 border-l-2 border-gray-light-300 md:ml-[21px]
        dark:border-gray-dark-400"
      {{ else }}
        class="ml-5 border-l-2 border-gray-light-300 dark:border-gray-dark-400
        md:ml-[21px]"
      {{ end }}
    >
      {{ range . }}
        {{ template "nodeWalk" (dict "item" . "ctx" $ctx) }}
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
